<div class="frontPage">
<app-navigation></app-navigation>




    <div class="learnMore flex justify-center items-center flex-col">
        <p class="text-center text-white text-5xl font-bold">BOOK STORE</p>
        <p class="text-center italic  text-white line-clamp-3 text-md">A book is a dream that you hold in your hand</p>
        <button type="button"
            class="text-white hover:text-white border border-white hover:bg-whitefocus:ring-4 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">Learn
            More</button>
    </div>



    <div class="w-full flex justify-center items-center my-6">
        <p class="text-center text-gray-950 text-2xl underline underline-offset-8">Book Gallery</p>
    </div>


    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="assets/image/img0.jpeg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="assets/image/img1.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="assets/image/img2.jpg" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="assets/image/img3.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="assets/image/img4.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="assets/image/img5.jpg" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="assets/image/img6.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="assets/image/img7.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="assets/image/img8.jpg" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="assets/image/img9.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="assets/image/img10.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="assets/image/img11.jpg" alt="">
            </div>
        </div>
    </div>


    <div class="w-full flex justify-center items-center my-6">
        <p id="aboutUs" class="text-center text-gray-950 text-2xl underline underline-offset-8">About Us</p>
    </div>

    <div class="px-14 mb-11">
        <p class="mb-3 text-gray-500 dark:text-gray-400 first-line:uppercase 
        first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">
            Book Store is a beloved local book store that
            has been a cornerstone of our community for over three decades.
            Founded in 1989 by avid readers and literature enthusiasts, our
            store has become a haven for book lovers of all ages and interests.</p>
        <p class="text-gray-500 dark:text-gray-400">At Book Store, we ar
            e passionate about curating a diverse and extensive collection of books that cater to every taste and
            preference. From timeless classics to the latest best
            sellers, our shelves are stocked with a wide range of genres, including fiction, non-fiction, poetry,
            children's books, and more. We take pride in fostering a warm and inviting atmosphere where customers can
            browse leisurely, discover new authors, and immerse themselves in the magic of storytelling.</p>
    </div>



    <footer class="bg-white  shadow dark:bg-gray-900">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <a routerLink="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <img src="assets/icons/logo.png" class="h-8" alt="Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Book Store</span>
                </a>
                <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                    <li>
                        <a href="#aboutUs" class="hover:underline me-4 md:me-6">About</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Contact: 9800000000</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a  class="hover:underline">Book Store™</a>. All Rights Reserved.</span>
        </div>
    </footer>
    
    
</div>