<form  [formGroup]="userForm" (ngSubmit)="submit()">
    <div class="mb-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
        <input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " formControlName="name" placeholder="" required>
        <div class="text-center" *ngIf="submitted && userForm.get('name')?.invalid">
            <p class="text-red-500 text-xs italic">Name is required</p>
          </div>
    </div> 
    <div class="mb-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Address</label>
        <input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " formControlName="address" placeholder="" required>
        <div class="text-center" *ngIf="submitted && userForm.get('address')?.invalid">
            <p class="text-red-500 text-xs italic">Address is required</p>
          </div>
    </div>
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900   ">Email address</label>
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " formControlName="email" placeholder="" required>
        <div class="text-center" *ngIf="submitted && userForm.get('email')?.invalid">
            <p class="text-red-500 text-xs italic">Email is required</p>
          </div>
    </div> 
    <!-- <div class="mb-6">
        <label for="role" class="block mb-2 text-sm font-medium text-gray-900" >Role</label>
        <select type="role" id="role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" formControlName="role" placeholder="" required>
            <option *ngFor="let r of Roles.arr"  [value]="Roles.obj[r]['value']">{{Roles.obj[r]['label'] | titlecase}}</option>
        </select>
        <div class="text-center" *ngIf="submitted && userForm.get('role')?.invalid">
            <p class="text-red-500 text-xs italic">Role is required</p>
          </div>
    </div> -->
    <div class="mb-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Mobile</label>
        <input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " formControlName="mobile" placeholder="" required>
        <div class="text-center" *ngIf="submitted && userForm.get('mobile')?.invalid">
            <p class="text-red-500 text-xs italic">Mobile is invalid , 10 digit number</p>
          </div>
    </div>
    <!-- <div class="mb-6" *ngIf="formOptions?.type==='add'"> -->
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900" >Password</label>
        <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" formControlName="password" placeholder="" required>
        <div class="text-center" *ngIf="submitted && userForm.get('password')?.invalid">
            <p class="text-red-500 text-xs italic">Password is required</p>
          </div>
    <!-- </div>  -->
    <button type="submit" class="text-white mt-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">Update</button>
</form>